<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="container">
      <ul class="collection with-header">
        <% if (items.length>0) { %> <% items.forEach(item => { %>
        <li class="collection-item">
          <div>
            <%= item.name%> $<%= item.price%>

            <a href="#!" class="secondary-content"
              ><i class="material-icons">mode_edit</i></a
            ><a href="#!" class="secondary-content"
              ><i class="material-icons">delete</i></a
            >
          </div>
        </li>
        <%})%> <%}else{%>
        <li>There are no items</li>
        <%}%>
      </ul>
    </div>
    <h1>This is the index.html file</h1>
  </body>
</html>
